
body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0;
}
.wrapper {
    margin: 0 6rem 6rem;
    background-color: #f6f6ef;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
hr {
    border: none; 
    border-top: 2px solid red; 
}
a {
    text-decoration: none;
    color: #000;
}
a:visited {
    color: #000;
}
.banner .left {
    margin-left: auto;
    margin-right: 3px;
}
#logo {
    border: 1px solid white;
    margin-right: 5px;
    margin-bottom: 3px;
}
h1 {
    margin-right: 10px;
    font-size: 13.333px;
}
p {
    margin-left: 40px;
   font-size: 13.333px; 
}
.banner {
    background-color: #ff6600;
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px;
    padding-bottom: 0;
    font-size: 13.333px;
}
ol {
    padding-left: 1.6rem;
    margin-top: 11px;
}
main li {
    margin: 9px 0;
    font-size: 13.333px;
    margin-bottom: 0;
}
li::marker {
    color: #828282;
    font-size: 12px;
}
li::before {
    content: " \25B2";
    margin-right: 0.2rem; 
    color: #828282; 
    font-size: 10px;
}
li::after {
    content: "264 points by walterbell 15 hours ago | hide | 98 comments";
    display: block;
    margin-left: 0.2rem; 
    color: #b1b1b1; 
    font-size: 9.333px; 
}

.second-small-link{
    color: #b1b1b1;
    font-size: 10px;
    margin-left: 0.2rem;
}
.second-small-link:visited {
    margin-left: 0.2rem;
    font-size: 10px;
    color: #b1b1b1; 
}
.second-small-link::after {
    content: ")";
    color: #b1b1b1; 
}
.second-small-link::before {
    content: "(";
    color: #b1b1b1; 
}




footer {
    font-size: 10px;
}
.footer-links {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    padding: 1rem 2rem 0 2rem;
}
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
    padding-bottom: 1rem;
    font-size: 13.333px;
}
#search input {
    margin: 1rem;
}